* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    position: absolute;
    right: 0;
    top: 50%;
}

body {
    height: 100vh;
    background: url('https://avatars.mds.yandex.net/get-pdb/1932994/b11bae9a-80d5-4cc4-a163-32118b9559ec/s1200') no-repeat center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: block;
}

.start,
.cancel {
    width: 200px;
    height: 100px;
    font-size: 2em;
    background-color: rgb(175, 200, 34);
}