* {
    box-sizing: border-box;
    font-family: "Lucida Sans";
    margin: 0;
    padding: 0;
}

body {
    /*background: url(https://images.complex.com/complex/image/upload/c_fill,g_center,w_1200/fl_lossy,pg_1/zspvnvqa2as02gnxfoz2.jpg) no-repeat;*/
    /* background-color: rgb(102, 177, 221);*/
    background-size: cover;
    height: 100vh;
    margin-left: 30px;
    font-size: 13px;
    width: 20em;
    font-size: 12px;
}

h1 {
    color: rgb(176, 40, 40);
    margin-left: 45px;
}

.container,
.addItem {
    width: 600px;
    display: block;
    padding: 20px;
    /*text-align: center;*/
}

.listItems {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    padding: 30px 0 30px;
    /*text-align: center;*/
}

.listItems li {
    padding: .4em .4em .4em 1em;
    margin: .5em 0;
    background: rgb(218, 214, 211);
    color: #444;
    border-radius: 3em;
}

.listItems li:hover {
    background: #E9E4E0;
}

input {
    color: rgb(27, 39, 6);
    background: #E9E4E0;
    /*rgb(213, 221, 201);*/
    min-width: 560px;
    min-height: 30px;
    font-size: 12px;
    margin-left: 21px;
}

button {
    font-size: 15px;
    margin: 15px 0 0 0;
    background: rgb(126, 129, 155);
    min-width: 560px;
    min-height: 50px;
    text-align: center;
    margin-left: 21px;
}

button:hover {
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
}